form label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
form label input[type="text"] {
    margin: 0;
}

form input[type="submit"] {
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #000000;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
}
form input[type="submit"]:hover {
    border-width: 2px;
}